/AAPL_0.5yr_data.csv
/GOOGL_0.5yr_data.csv
/JNJ_0.5yr_data.csv
/JPM_0.5yr_data.csv
/KO_0.5yr_data.csv
/MSFT_0.5yr_data.csv
/NVDA_0.5yr_data.csv
/SPX_0.5yr_data.csv
/VIX_0.5yr_data.csv
/WMT_0.5yr_data.csv
/XOM_0.5yr_data.csv